body {
    background-image: url("../images/bg_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /*margin: 20px 400px;*/
    /*opacity: 0.8;*/
    /*width: 100%;*/
}
#form label{
    font-family: Roboto;
}
#regis {
    /*min-width: 250px;*/
    /*width: 100%;*/
    height: auto;
    background-color: #FFFFFF;
    padding: 40px 0px;
    border-radius: 10px;
}
#button{
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    outline: 0px;
}
#upload{
    width: 250px;
    margin-left:200px ;
}
#regis input[type="submit"]{
    font-family: Roboto;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    background: #295F4E;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 7px;
}
#regis input[type="submit"]:hover{
    cursor: pointer;
    background: #6DB193;
    color: #FFFFFF;
}