
body {
    /*margin: 0;*/
    font-family: Roboto;
    font-size: 100%;
    background: url("../images/bg.png");
}

#fab {
    padding: 20px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    border-radius: 50px;
    /*height: 50px;*/
    /*width: 50px;*/
    color: #FFF;
    background-color: limegreen;
    position: fixed;
    right: 3%;
    bottom: 5%;
}

#fab img {
    width: 100%;
}

.navbar-default {
    background: url("../images/bg.png");
}

.navbar-default .navbar-nav li {
    color: #FFFFFF;
    text-transform: uppercase;
}

.clear {
    float: none;
    clear: both;
}

/*.center {*/
    /*width: 60%;*/
    /*min-width: 100px;*/
    /*margin: 0 auto;*/
/*}*/

/*banner*/
#banner {
    background: url("../images/home.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 50px;
    text-align: center;
    color: #FFFFFF;
    /*min-width: 350px;*/
}

#banner h1 {
    font-family: Roboto;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
}


#banner h2 {
    margin-top: 50px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
}

#banner .btn-link {
    margin-top: 50px;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

#banner .btn-link:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #000000;
}

/*grid*/
#product {
    padding-bottom: 50px;
    background: url("../images/bg.png");
    width: 100%;
    height: auto;
    float: left;

}

.product_section_title {
    margin-top: 30px;
    float: left;
    width: 100%;
    display: inline-block;
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
}

.product_one {
    margin-left: 30px;
    padding-bottom: 20px;
    margin-top: 50px;
    width: 22%;
    min-width: 250px;
    height: 375px;
    float: left;
    border-radius: 7px;
    background-color: white;
    border-bottom: 2px solid darkgray;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.product_img {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 250px;
    height: 175px;
    float: left;
    border-radius: 7px;
    overflow: hidden;
}

.product_img img {
    max-width: 100%;
    height: auto;
}

.product_text {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    width: 250px;
    float: left;
}

.product_desc {
    width: 250px;
    float: left;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.product_price {
    width: 250px;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.button_buy {
    float: right;
    padding: 10px;
    background-color: #295F4E;
    border-radius: 7px;
    color: #FFFFFF;
}

.button_buy:hover {
    cursor: pointer;
    background: #6DB193;
    color: #FFFFFF;
}

.product_two, .product_three, .product_four {
    margin-left: 30px;
}

#footer {
    margin-top: 50px;
    color: #FFF;
    width: 100%;
    height: 400px;
    /*padding: 100px 0;*/
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../images/bg_footer.jpeg");
}

#footer .store {
    float: left;
}

#footer .opening {
    float: right;
}

.store {
    /*margin-top: 25px;*/
    width: 50%;
    margin-left: 5%;
}

.store p {
    font-family: "Bebas Neue";
    /*margin-top: 10px;*/
    text-align: center;
    font-size: 25px;
}

.opening {
    /*margin-top: 50px;*/
    width: 30%;
    margin-right: 12.5%;
}

.opening p {
    font-family: "Bebas Neue";
    /*margin-top: 10px;*/
    text-align: center;
    font-size: 27px;
}

#contact_info {
    padding-bottom: 20px;
    background: url("../images/bg.png");
    width: 100%;
    height: auto;
    float: left;

}

#bannerAbout {
    padding-bottom: 50px;
    /*!*background: url("../images/jo.jpg") no-repeat center ;*!*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*padding: 125px;*/
    /*text-align: center;*/
    /*color: #FFFFFF;*/
}
#contact{
    background: url("../images/bg_contact.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#form {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /*margin: 20px 400px;*/
    opacity: 0.8;
    /*width: 100%;*/

}
#regis {
    /*min-width: 250px;*/
    /*width: 100%;*/
    height: auto;
    background-color: #FFFFFF;
    padding: 40px 0px;
    border-radius: 10px;
}
#button{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    outline: 0px;
}
#upload{
    width: 50%;
    margin-left:150px ;
}
#regis input[type="submit"]{
    font-family: Roboto;
    border: none;
    outline: none;
    width: 25%;
    height: auto;
    background: #295F4E;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 7px;
}
#regis input[type="submit"]:hover{
    cursor: pointer;
    background: #6DB193;
    color: #FFFFFF;
}
@media only screen and (max-width: 480px) {
    #banner h1{
        font-family: Roboto;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: normal;
    }
    .store p{
        font-size: 20px;
    }
    .opening p{
        font-size: 20px;
    }
}
.row-no-margin{
    margin-left: 0px;
    margin-right: 0px;
}